---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';
import { Image } from 'astro:assets';

export const getStaticPaths = async () => {
    const posts = await getCollection("posts");
    const paths = posts.map(post => {
        return {
            params: {
                slug: post.slug
            },
            props: {
                post
            }
        }
    })
    return paths;
}

type Props = {
    post: CollectionEntry<"posts">
}
const {post} = Astro.props;
const {Content} = await post.render();
---







<MainLayout title={'iRisk | ' + post.data.title}>
    <section class="py-48">
        <div class="blog-container wrapper">
            <h1 class="text-5xl text-teal-900 font-bold mb-8 mt-8">{post.data.title}</h1>
            <Image
                src={post.data.image}
                alt={post.data.title}
                width={1024}
                height={600 / 1.5}
                class="w-full object-cover mb-12"
                />

                <div class="prose max-w-none prose-xl overflow-visible relative mb-20 mx-auto">
                    <Content />
                </div>

                <a href="/blog" class="btn btn-neutral">&leftarrow; Back</a>
        </div>
    </section> 
</MainLayout>







<style>

    a {
        display: inline-block;
        color: var(--clr-blue);
    }




</style>