---
// import Layout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import MainLayout from "../layouts/MainLayout.astro";
import BlogCard from "../components/BlogCard.astro";

// images for the homepage
import { Image } from "astro:assets";
import ComingSoon from "../assets/coming-soon.jpg";
import MotorInsurance from "../assets/motor-service.png"
import LifeInsurance from "../assets/life-insurance.jpg"
import MarineInsurance from "../assets/marine-insurance.jpg"
import HomeBanner from "../assets/banner-img.png"
import Aio from "../assets/aio.png"
import Ges from "../assets/ges.png"
import CompTia from "../assets/comptia.png"
import Safetylms from "../assets/safetylms.png"
import TestimonialImage from "../assets/testimonial-img.png"
import Carousel1 from "../assets/carousel-1.png"
import Home360 from "../assets/home-360.jpg"
import Ghcompare from "../assets/ghcompare.png"


import { HOMEPAGE_ARTICLES_LIMIT } from "../constants";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content"

const posts: CollectionEntry<'posts'>[] = (await getCollection('posts')).sort((a:CollectionEntry<'posts'>, b:CollectionEntry<'posts'>) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const mostRecentArticle: CollectionEntry<'posts'> = posts[0];
const otherArticles: CollectionEntry<'posts'>[] = posts.slice(1);

---






<MainLayout title="iRisk Management Ltd">

<!-- ================ Section Hero Index =============== -->
<section class="index-hero bg-white dark:bg-gray-900  text-white">
        <div class="hero-slick w-full h-full">

                <!-- Welcome page -->
                 <div class="hero-item welcome">
                        <div class="container wrapper grid px-8 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 pt-40">
                                <div class=" mr-auto place-self-center lg:col-span-7">
                                        <p class="max-w-2xl mb-6 font-light lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400 hero-text">  </p>
                                        <h1 class="max-w-2xl mb-8 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white candal-regular hero-text">Welcome to iRisk Management</h1>
                                        <p class="max-w-2xl mb-6 font-light lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400 hero-text">Protecting Your Future Starts Here.</p>
                                        <a href="/contact" class="btn btn-neutral md:mr-4 hero-text">Get a Quote</a> 
                                        <a href="#" class="btn btn-blue hero-text">Get started</a>
                                </div>
                                <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
                                </div>                
                        </div>
                </div> 

                 <!-- GH Compare -->
                 <div class="hero-item ghcompare">
                        <div class="container wrapper grid ">
                                <div class="mr-auto place-self-center lg:col-span-7 gh-compare"> 
                                        
                                        <Image src={Ghcompare} alt="ghcompare" class=""/ style="width: 100%; padding-top:2rem; height: auto; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                                        <div class="flex items-center"> 
                                                <!-- Google Play button -->
                                                <!-- <a href="https://play.google.com/"><img src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png" width="200" height="70" alt="Get it on Google Play" ></a>  -->
                                                <a href="/contact" class="btn btn-neutral">Buy Insurance</a> 
                                        </div>
                                </div>
                        </div>

                </div> 

                <!--Home/Office 360 -->
                <div class="hero-item home-360">
                        <div class="container wrapper grid px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 pt-40">
                                <div class="mr-auto place-self-center lg:col-span-7"> 
                                        <p class="max-w-2xl mb-6 font-light lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">Home insurance made easy online</p> 
                                        <h1 class="max-w-2xl mb-8 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white candal-regular">Home/Office 360</h1>
                                        <p class="max-w-2xl mb-6 font-light lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">One Ghana Cedi a day</p> 
                                        <a href="/contact" class="btn btn-neutral md:mr-4">Buy Insurance</a>  
                                        <a href="#" class="btn btn-blue">Get started</a> 
                                </div>
                        </div>
                        <video class="bg-video" src="/assets/home-360.mp4" autoplay loop poster="/assets/home-360.jpg"></video>
                        <div class="overlay"></div>
                </div>

        </div>
</section> 

<!-- ===================== Coming soon ========================= -->
<!-- <section class="section-hero pt-16">
        <div class="container wrapper">
                <div class="hero-container text-center w-full flex flex-col items-center justify-center h-full">
                        <h1 class="">
                                Our Engineers are at work to make your experience an amazing one
                        </h1>
                        <p class="text-center">But we are a call away, send us a message</p>
                        <a
                                href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCHrhTVzjzLKWnrZcqpGFbzKjTWMPcdpHrkfpslflnhlGzKrvRDLfPPLknPFlrWWvJdDxsXV"
                                class="btn btn-red"
                                target="_blank">Send a message
                        </a>
                </div>
        </div>
</section> -->
<!-- End of Coming soon -->

  <!-- ===================== Section Info ========================= -->
<section class="section-info ">
        <div class="container wrapper">
                <h2 class="heading-secondary text-center md:text-center px-8 mb-8">Core Values</h2>
                <div class="info-container grid grid-cols-1 lg:grid-cols-3">
                        <!-- Accountability -->
                        <div class="info-item">
                                <i class="fa-solid fa-chart-line"></i>
                                <h3>Accountability</h3>
                                <p>We hold most dear, the ability of our organisation and it's sub-business to honor commitments to clients and to each other.</p>
                        </div>
                        <!-- Professionalism -->
                        <div class="info-item">
                                <i class="fa-solid fa-graduation-cap"></i>
                                <h3>Professionalism</h3>
                                <p>We provide our services to our clients in the most professional and respectful manner to ensure the delivery of quality work results.</p>
                        </div>
                        <!-- Transparency -->
                        <div class="info-item">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <h3>Transparency</h3>
                                <p>We don't only promise but ensure transparency in all our dealings with clients in order to strengthen partnerships and maintain trust.</p>
                        </div>
                </div>
        </div>
  </section> 









<!-- ======================= Section Services ========================= -->
<section class="section-services">
        <div class="container wrapper fade-in">
                <h2 class="heading-secondary md:mb-12 mb-8 text-center ">Our Services.</h2>
                
                <div id="service-carousel" class="w-full pb-20 service-carousel"> 
                        <!-- First service Motor Insurance -->
                        <div class="service grid-cols-1 md:grid-cols-2 gap-8 items-center">
                                <div class="service-info__text scale-in">
                                        <h2 class="">Motor Insurance</h2>
                                        <p class="mb-8">Don’t waste time worrying about your coverage. Our policies ensure peace of m  waste time worrying about your coverage</p>
                                        <a href="/motor-insurance" class="btn btn-white">Learn more</a>
                                </div>
                                <div class="service-info__img">
                                        <Image src={MotorInsurance} alt="Motor Insurance" class=""/>
                                </div>
                        </div> 
                        <!-- Second service | Life Insurance -->
                        <div class="service grid-cols-1 md:grid-cols-2 gap-8 items-center">
                                <div class="service-info__text">
                                        <h2>Life Insurance</h2>
                                        <p class="mb-8">Discover the essential benefits of life insurance: financial security for loved ones, potential loan collateral, business continuity, and tax advantages. Click "Read More" to explore its invaluable advantages.</p>
                                        <a href="/life-insurance" class="btn btn-white">Learn more</a>
                                </div>
                                <div class="service-info__img">
                                        <Image src={LifeInsurance} alt="Life Insurance" class=""/>
                                </div>
                        </div>
                        <!-- Third Service -->
                        <div class="service grid-cols-1 md:grid-cols-2 gap-8 items-center">
                                <div class="service-info__text">
                                        <h2>Marine Insurance</h2>
                                        <p class="mb-8">Learn how Marine Insurance protects shipments from losses during water transportation, safeguarding shipping companies from financial risks.</p>
                                        <a href="/marine-insurance" class="btn btn-white">Learn more</a>
                                </div>
                                <div class="service-info__img">
                                        <Image src={MarineInsurance} alt="Marine Insurance" class=""/>
                                </div>
                        </div>
                </div>

        </div>
</section>  
<!-- End of services section -->




  <!-- ======================== Section Welcome Video ========================= -->
  <section class="section-welcome">
        <div class="container wrapper">
                <div class="welcome-container">
                        <iframe class="welcome-video" src="https://www.youtube.com/embed/uMlh1T4DQLo?si=xKfCrN6TPrxq0L9Y&autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        
                </div>
                
        </div>
        <div class="overlay"></div>
  </section>  
  <!-- End of Section Welcome Video -->


<!-- ================================ Section Home Banner ===================== -->
<section class="section-banner fade-in">
        <div class="container wrapper">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-y-8 md:gap-16">
                        <div class="banner-img">
                                <Image src={HomeBanner} alt="Home banner" />
                        </div>
                        <div class="banner-text col-span self-center text-white fade-in">
                                <p class="mb-4">Don't face a loss alone. We at iRisk handle the complexities of claims so you can recover. As your insurance broker, we're in your corner.</p>
                                <p class="mb-8">We'll navigate the paperwork, advocate for a swift settlement, and ensure you receive everything you're entitled to under your policy. Focus on healing, we'll focus on results. Relax, we've got this.</p>
                                <h3 class="text-3xl font-bold mb-2">Kamal Deen</h3>
                                <p class="text-sm text-slate-400 mb-8">General Manager</p>
                                <a href="/claim" class="btn btn-red mb-8">Make a claim</a>
                        </div>
                </div>
        </div>
</section> 
<!-- End of section home banner -->





<!-- ========================= Section Partners ==================== -->

<section  class="partners">
                <section class="customer-logos slider">
                    <div class="mover"><img src="/src/assets/clients/aio.png" alt="logo"></div>
                    <div class="mover"><img src="/src/assets/clients/ciig.png" alt="logo"></div>
                    <div class="mover"><img src="/src/assets/clients/hollard.png" alt="logo"></div>
                    <div class="mover"><img src="/src/assets/clients/enterprise.png" alt="logo"></div>
                    <div class="mover"><img src="/src/assets/clients/loyalty.png" alt="logo"></div>
                    <div class="mover"><img src="/src/assets/clients/star.png" alt="logo"></div>
                    <div class="mover"><img src="/src/assets/clients/coronation.png" alt="logo"></div>
                    <div class="mover"><img src="/src/assets/clients/glico.png" alt="logo"></div>
                    <div class="mover"><img src="/src/assets/clients/donewell.png" alt="logo"></div>
                    <div class="mover"><img src="/src/assets/clients/gua.png" alt="logo"></div>
                    <div class="mover"><img src="/src/assets/clients/ibag.png" alt="logo"></div>
                    <div class="mover"><img src="/src/assets/clients/imperial.png" alt="logo"></div>
                    <div class="mover"><img src="/src/assets/clients/prime.png" alt="logo"></div>
                    <div class="mover"><img src="/src/assets/clients/priority.png" alt="logo"></div>
                    <div class="mover"><img src="/src/assets/clients/serene.png" alt="logo"></div>
                    <div class="mover"><img src="/src/assets/clients/sic.png" alt="logo"></div>
                </section>
</section> 
<!-- End of section Partners -->


<!-- I am hiding the testimonial section until we can gather enough testimonials to display -->
<!-- =================== Section Testimonials ===================== -->
<section class="section-testimonials py-16 relative">
        <div class="container wrapper">
                <h2 class="heading-secondary mb-8 text-center">What our clients say.</h2>                

                <div id="testimonial-carousel" class="relative w-full " data-carousel="slide">
                        <!-- Carousel wrapper -->
                        <div class="relative h-80 overflow-hidden rounded-lg md:h-96"> 
                                <!-- First Testimonial -->
                                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                        <div class=" testimonial p-12 w-full mx-auto max-w-screen-md ease-in-out duration-700 absolute block -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                                                <div class="testimonial-name flex mb-4 items-center">
                                                        <Image src={TestimonialImage} alt="First name" class="mr-4"/>
                                                        <div>
                                                                <h3>First Last Name</h3>
                                                                <p>Position</p>
                                                        </div>
                                                </div>
                                                <div class="testimonial-text">
                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aut dolore, repellendus quasi unde inventore architecto veniam soluta? Et laudantium fuga perspiciatis beatae aut illo sed placeat, ad fugit eum at est dolorum quae quis?</p>
                                                </div>
                                        </div>
                                </div>

                                <!-- Second Testimonial -->
                                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                        <div class=" testimonial p-12 w-full mx-auto max-w-screen-md ease-in-out duration-700 absolute block -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                                                <div class="testimonial-name flex mb-4 items-center">
                                                        <Image src={TestimonialImage} alt="First name" class="mr-4"/>
                                                        <div>
                                                                <h3>Second Last Name</h3>
                                                                <p>Position</p>
                                                        </div>
                                                </div>
                                                <div class="testimonial-text">
                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aut dolore, repellendus quasi unde inventore architecto veniam soluta? Et laudantium fuga perspiciatis beatae aut illo sed placeat, ad fugit eum at est dolorum quae quis?</p>
                                                </div>
                                        </div>
                                </div> 

                                <!-- Third Testimonial -->
                                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                        <div class=" testimonial p-12 w-full mx-auto max-w-screen-md ease-in-out duration-700 absolute block -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                                                <div class="testimonial-name flex mb-4 items-center">
                                                        <Image src={TestimonialImage} alt="First name" class="mr-4"/>
                                                        <div>
                                                                <h3>Third Last Name</h3>
                                                                <p>Position</p>
                                                        </div>
                                                </div>
                                                <div class="testimonial-text">
                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aut dolore, repellendus quasi unde inventore architecto veniam soluta? Et laudantium fuga perspiciatis beatae aut illo sed placeat, ad fugit eum at est dolorum quae quis?</p>
                                                </div>
                                        </div>
                                </div>  

                                <!-- Forth Testimonial -->
                                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                                        <div class=" testimonial p-12 w-full mx-auto max-w-screen-md ease-in-out duration-700 absolute block -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                                                <div class="testimonial-name flex mb-4 items-center">
                                                        <Image src={TestimonialImage} alt="First name" class="mr-4"/>
                                                        <div>
                                                                <h3>Forth Last Name</h3>
                                                                <p>Position</p>
                                                        </div>
                                                </div>
                                                <div class="testimonial-text">
                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex aut dolore, repellendus quasi unde inventore architecto veniam soluta? Et laudantium fuga perspiciatis beatae aut illo sed placeat, ad fugit eum at est dolorum quae quis?</p>
                                                </div>
                                        </div>
                                </div> 
                                
                                
                                
                        </div>

                        <!-- Slider indicators -->
                        <div class="slider-indicator absolute z-10 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
                                <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
                                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
                                <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
                        </div> 


                        <!-- Slider controls -->
                        <!-- prev -->
                        <div class="button-container">
                                <button type="button" class="start-0 z-10 flex items-center justify-center h-full cursor-pointer group focus:outline-none" data-carousel-prev>
                                        <span class="duration-300 transition-all inline-flex items-center justify-center w-10 h-10 rounded-full bg-cyan-800/30 dark:bg-gray-800/30 group-hover:bg-cyan-400/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                                                </svg>
                                                <span class="sr-only">Previous</span>
                                        </span>
                                </button>  
                                <!-- next -->
                                <button type="button" class="z-10 flex items-center justify-center h-full pl-4 cursor-pointer group focus:outline-none" data-carousel-next>
                                        <span class="duration-300 transition-all inline-flex items-center justify-center w-10 h-10 rounded-full bg-cyan-800/30 dark:bg-gray-800/30 group-hover:bg-cyan-400/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                                                </svg>
                                                <span class="sr-only">Next</span>
                                        </span>
                                </button>
                        </div>
                </div>
    
        </div>
</section> 
<!-- End of testimonials -->




<!-- ==================== Section News and Blog ============================= -->
<section class="section-news py-20">
        <div class="container wrapper">
                <h2 class="heading-secondary mb-12">News &amp; Blog</h2>
                <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
                        {otherArticles.slice(0, HOMEPAGE_ARTICLES_LIMIT).map(
                                article => (
                                        <BlogCard post={article} />
                                )
                        )}
                </div>
                <a href="/blog" class="btn btn-blue mt-12">More News</a>
        </div>
</section>
<!-- end of news and blog -->


</MainLayout>














<style lang="scss">

////////////////////         Coming soon page          /////////////////////
  .section-hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        rgba(51, 162, 209, 0.85),
        rgba(3, 42, 65, 0.85)
        ),
        url(/assets/about-hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 0 0 5rem 20rem;

    h1 {
      font-size: 3rem;
      line-height: 1;
      font-weight: bolder;
      text-align: center;
      color: var(--clr-white);
    }
    p {
      color: var(--clr-white);
      margin: 2rem 0;
      font-size: 1.3rem;
    }
    .btn {
      animation: heartbeat 1.5s ease-in-out infinite both;
    }
  }
// end of comingsoon section











//======================= Section hero =======================
.index-hero {
        min-height: 80vh;
        width: 100%;
        // border-radius: 0 0 2rem 8rem;
        overflow: hidden;
        position: relative;
        z-index: 5;

        .hero-item {
        width: 100%;
        height: 90vh;
}




// Irisk Welcome page

.welcome {
        position: relative;
        background-image: url(/assets/index-hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
         animation: zoom 10s infinite alternate ease-in-out;
    }

    .welcome::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity to make it darker */
        z-index: 1; /* Ensure it's behind the text */
    }

    @keyframes zoom {
        from { background-size: 100%; }
         to { background-size: 110%; } /* Adjust zoom percentage as needed */
        }


    //HERO TEXT ANIMATION WITH DELAY
    .hero-text {
        opacity: 0; /* Hide the text initially */
        transition: opacity 0.5s ease-in-out; /* Add transition effect */
        position: relative;
        z-index: 2; /* Ensure it's above the background overlay */
    }



    .hero-text:nth-child(1) {
        transition-delay: 0.5s; /* Delay for the first text element */
    }

    .hero-text:nth-child(2) {
        transition-delay: 1s; /* Delay for the second text element */
    }

    .hero-text:nth-child(3) {
        transition-delay: 1.5s; /* Delay for the third text element */
    }

    .hero-text:nth-child(4) {
        transition-delay: 2s; /* Delay for the fourth text element */
    }

    .hero-text:nth-child(5) {
        transition-delay: 2.5s; /* Delay for the fifth text element */
    }

    .welcome:hover .hero-text {
        opacity: 1; /* Make the text visible on hover */
    }


// GH Compare
.gh-compare {
        //background-image: 
        // linear-gradient(
        // to bottom,
        // rgba(51, 162, 209, 0.85);
        // rgba(3, 42, 65, 0.85)
        // ),
        //url(/assets/kamal.png);
        //background-repeat: no-repeat;
        //background-size: cover;
        //background-position: center;
        
        
        animation: changeColor 15s ease-in-out infinite alternate-reverse both; /* Change color every 20 seconds */
}

.ghcompare {
                animation: up-down 1.5s ease-in-out infinite alternate-reverse both;
                //background: linear-gradient(to bottom right, #ff9999, #99ff99, #9999ff);
                width: 100%;
                }
.home-360 {
        position: relative;
        z-index: 1;

        .bg-video {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
                z-index: -2;
        }
        .overlay {
                background-image: linear-gradient(to bottom,rgba(51, 162, 209, 0.85),
        rgba(3, 42, 65, 0.85));
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        }
}
}
// End of index hero















  // ================= Section Info ==============
  .section-info {
    background-color: #37517e;
    color: white;
    padding: 3rem 0;
    position: relative;
    z-index: 6;
//     margin-top: 0rem;

    .info-container {
//       background-color: var(--clr-white);
//       padding: 3rem;
//       margin-top: -18rem;
      border-radius: 1rem;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      transition: .4s;
    }

    .info-item {
        padding: 3rem;
        transition: .3s;
        transition-delay: .2s;

        &:hover {
                background-color: rgba(50, 161, 209, 0.173);

                i {
                        
                        &::after {
                                scale: .7;
                        }
                }
        }

        i {
                display: flex;
                width: 3.5rem;
                height: 3.5rem;
                align-items: center;
                justify-content: center;
                background-color: #32A2D1;
                color: #fff;
                font-size: 1.5rem;
                border-radius: 1rem;
                position: relative;
                margin-left: 10px;
                z-index: 1;

                &::after {
                        content: "";
                        display: inline-block;
                        width: calc(100% + 20px);
                        height:  calc(100% + 20px);
                        background-color: rgba(50, 161, 209, 0.315);
                        position: absolute;
                        top: -10px;
                        left: -10px;
                        border-radius: 1rem;
                        transition: .4s ease-in-out;
                        z-index: -1;
                }
        }

        h3 {
                margin: 1rem 0;
                font-weight: bold;
                font-size: 1.5rem;
        }
    }
  }










  // ================= Section Services ==============
.section-services {
        padding: 5rem 0;
        background-color: #f3f5fa;


        .service {
                width: 100%;
                padding: 3rem;
                background-image: linear-gradient(to right, var(--clr-blue-light), var(--clr-blue-dark));
                border-radius: 1rem;
                display: grid;

                h2 {
                        font-size: 2rem;
                        font-weight: bold;
                        color: #fff;
                        margin-bottom: 1rem;
                }
        }


}



// ==================== Section-Welcome Video =========================
.section-welcome {
        position: relative;
      

        .welcome-video {
                width: 100%;
                aspect-ratio: 16 / 9;
                //border-radius: 1rem;
                box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
                background: red;
                
        }
        .overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                left: 0;
                background-color: rgba(#32A2D1, .9);
        }
}
// Section-welcome video





// ==================== Section-Banner. =========================
.section-banner {
        background-color: var(--clr-blue-dark);
}
.banner-img {
        transition: 0.3s ease-in-out;
        
}

.banner-img:hover {
  transform: scale(0.95); /* decrease size on hover  */
  transition: 0.5s ease-in-out;

}
// End of Home banner




// .section partners


.slider {
  display: flex; /* Arranges logos horizontally */
  overflow-x: scroll; /* Enables horizontal scrolling */
  scroll-snap-type: x mandatory; /* Enables snapping on scroll */
  white-space: nowrap; /* Prevents line breaks */
  padding: 2em;
}

.mover {
  margin-right: 1rem; /* Add spacing between logos (optional) */
  width: 10rem;
  height: 5rem;
  animation: slide-animation 10s  ease-in-out infinite alternate-reverse both; /* Adjust duration and timing as needed */
  margin-top: 2rem;
}



@keyframes slide-animation {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); } /* Adjust translation percentage for full slide */
}
// End of section partners



// ==================== Section-Testimonial. =========================
.section-testimonials {
        background-color: #D7F3FF;
        padding: 1.5rem;

        // Testimonial
        .testimonial {
                background-color: var(--clr-white);
                border-radius: 1rem;
                box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
        }

        #testimonial-carousel {
                //background-color: red;
                
        }


        // Testimonial Buttons
        .button-container {
                position: absolute;
                bottom: 0;
                left: 0;
                display: flex;
        }

        .slider-indicator {
                
                button[aria-current="false"] {
                        background-color: rgba(#f3f3f3, .8);
                }
                button[aria-current="true"] {
                        transform: scale(1.3);
                        box-shadow: 0 1px 3px rgba(#000, .1);
                }
        }
}



// ==================== Section-News. =========================
.section-news {

        .blog-item {
                width: 100%;
                border: 1px solid red;

                h2 {
                        // font-size: 3rem;
                }
        }
}




//   ========================================================
//                      Media Queires
//   ========================================================
  @media (min-width: 1024px) {

        .index-hero {
                // border-radius: 0 0 10rem 15rem;
                // height: 110vh;

                .hero-item {
                        height: 90vh;
                }
        }

        .section-info {

                .info {
                        padding-inline: 1rem;

                        &:not(:last-child) {
                                border-right: 2px solid var(--clr-gray-light);
                                border-bottom: none;
                        }
                }
                .info-container {
                        // margin-top: -18rem;
                }
        }
  }
</style>
