---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from 'astro:assets'

import Sheila from "../assets/sheila.png"
import Kamal from "../assets/kamal.png"
import Ama from "../assets/ama.png"
import Duah from "../assets/duah.png"
import Araba from "../assets/araba.png"
import Esther from "../assets/esther.png"
import Sarkodie from "../assets/sarkodie.png"
import Abass from "../assets/abass.png"
import Richmond from "../assets/richmond.png"
import Sedi from "../assets/sedi.png"
---




<MainLayout title="Our Team" >



        <!-- Our Team -->
        <section class="section-team py-40 text-center">
            <div class="container wrapper">
                <h2 class="heading-secondary py-8">Our Team</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla ut, nihil voluptatum voluptatem harum aliquid ullam accusantium tempore velit debitis.</p>
    
                <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8">
                    <!-- Sheila Wristberg -->
                    <div class="team-card grid grid-cols-3 scale-in">
                        <div>
                            <Image src={Sheila} alt="Sheila Wristberg" />
                        </div>
                        <div class="col-span-2 pl-8">
                            <h2 class="name">Sheila Wristberg</h2>
                            <h3>CEO</h3>
                            <div class="line"></div>
                            <ul class="team-list">
                                <li class="team-item">
                                    <a href="https://www.linkedin.com/in/sheila-wristberg-b10a3515/" class="team-link" target="_blank">
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                </li>
                                <!-- <li class="team-item">
                                    <a href="https://www.instagram.com/sheilawristberg/" class="team-link" target="_blank">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="team-item">
                                    <a href="https://sheilawristberg.com/" class="team-link" target="_blank">
                                        <i class="fa-solid fa-globe"></i>
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    <!-- Kamal -->
                    <div class="team-card grid grid-cols-3 scale-in">
                        <div>
                            <Image src={Kamal} alt="Kamal" />
                        </div>
                        <div class="col-span-2 pl-8">
                            <h2 class="name">Kamal Deen Sulemana</h2>
                            <h3>General Manager</h3>
                            <div class="line"></div>
                            <ul class="team-list">
                                <li class="team-item">
                                    <a href="https://www.linkedin.com/in/kamal-deen-alhassan-344046189/?originalSubdomain=gh" class="team-link" target="_blank">
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                </li>
                                <!-- <li class="team-item">
                                    <a href="https://www.instagram.com/kdalhassan/" class="team-link" target="_blank">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li> -->
                                <!-- <li class="team-item">
                                    <a href="https://www.facebook.com/blinxxy" class="team-link">
                                        <i class="fa-brands fa-facebook"></i>
                                    </a> -->
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Ama Koomson -->
                    <div class="team-card grid grid-cols-3 scale-in">
                        <div>
                            <Image src={Ama} alt="Ama Wristberg" />
                        </div>
                        <div class="col-span-2 pl-8">
                            <h2 class="name">Hannah Ama Koomson</h2>
                            <h3>Head of Marketing</h3>
                            <div class="line"></div>
                            <ul class="team-list">
                                <li class="team-item">
                                    <a href="https://www.linkedin.com/in/hannah-ama-koomson-acii-uk-aciig-msc-42b065a0/" class="team-link" target="_blank">
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                </li>
                                <!-- <li class="team-item">
                                    <a href="https://www.instagram.com/ama_yannfitjerseys/?img_index=1" class="team-link" target="_blank">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="team-item">
                                    <a href="https://www.facebook.com/amaafedziwa.koomson" class="team-link" target="_blank">
                                        <i class="fa-brands fa-facebook"></i>
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    <!-- Duah Mr. -->
                    <div class="team-card grid grid-cols-3 scale-in">
                        <div>
                            <Image src={Duah} alt="Duah Wristberg" />
                        </div>
                        <div class="col-span-2 pl-8">
                            <h2 class="name">Kwame Duah</h2>
                            <h3>Finance Manager</h3>
                            <div class="line"></div>
                            <!-- <ul class="team-list">
                                <li class="team-item">
                                    <a href="#" class="team-link">
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                </li>
                                <li class="team-item">
                                    <a href="#" class="team-link">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="team-item">
                                    <a href="#" class="team-link">
                                        <i class="fa-brands fa-facebook"></i>
                                    </a>
                                </li>
                            </ul> -->
                        </div>
                    </div>
                    <!-- Araba Bonzie -->
                    <div class="team-card grid grid-cols-3 scale-in">
                        <div>
                            <Image src={Araba} alt="Araba Bonzie" />
                        </div>
                        <div class="col-span-2 pl-8">
                            <h2 class="name">Comfort Araba Bondzie</h2>
                            <h3>Business Development officer</h3>
                            <div class="line"></div>
                            <ul class="team-list">
                                <li class="team-item">
                                    <a href="https://www.linkedin.com/in/araba-eduafoa-bondzie/" class="team-link" target="_blank">
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                </li>
                                <!-- <li class="team-item">
                                    <a href="#" class="team-link">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="team-item">
                                    <a href="#" class="team-link">
                                        <i class="fa-brands fa-facebook"></i>
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    <!-- Esther Timinca -->
                    <div class="team-card grid grid-cols-3 scale-in">
                        <div>
                            <Image src={Esther} alt="Esther Wristberg" />
                        </div>
                        <div class="col-span-2 pl-8">
                            <h2 class="name">Esther Timinca</h2>
                            <h3>Senior Finance Officer</h3>
                            <div class="line"></div>
                            <ul class="team-list">
                                <li class="team-item">
                                    <a href="https://www.linkedin.com/in/esther-timinca-96b81212a/" class="team-link" target="_blank">
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                </li>
                                <!-- <li class="team-item">
                                    <a href="https://www.instagram.com/timinks/" class="team-link" target="_blank">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="team-item">
                                    <a href="https://www.facebook.com/esther.timinca.1" class="team-link" target="_blank">
                                        <i class="fa-brands fa-facebook"></i>
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    <!-- Sarkodie Daniel -->
                    <div class="team-card grid grid-cols-3 scale-in">
                        <div>
                            <Image src={Sarkodie} alt="Sarkodie Daniel" />
                        </div>
                        <div class="col-span-2 pl-8">
                            <h2 class="name">Daniel Kofi Sarkodie Duah</h2>
                            <h3>Assistant Business Development Manager</h3>
                            <div class="line"></div>
                            <ul class="team-list">
                                <li class="team-item">
                                    <a href="https://www.linkedin.com/in/daniel-sarkodie-duah/" class="team-link" target="_blank">
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                </li>
                                <!-- <li class="team-item">
                                    <a href="https://www.instagram.com/forbesman_gh/" class="team-link" target="_blank">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li> -->
                                <!-- <li class="team-item">
                                    <a href="#" class="team-link">
                                        <i class="fa-brands fa-facebook"></i>
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    <!-- Abass Abdallah -->
                    <div class="team-card grid grid-cols-3 scale-in">
                        <div>
                            <Image src={Abass} alt="Abass Wristberg" />
                        </div>
                        <div class="col-span-2 pl-8">
                            <h2 class="name">Abass Abdallah</h2>
                            <h3>Business Development Officer</h3>
                            <div class="line"></div>
                            <ul class="team-list">
                                <li class="team-item">
                                    <a href="https://www.linkedin.com/in/abass-abdallah-26a84bba/" class="team-link">
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                </li>
                                <!-- <li class="team-item">
                                    <a href="#" class="team-link">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="team-item">
                                    <a href="#" class="team-link">
                                        <i class="fa-brands fa-facebook"></i>
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    <!-- Richmond Duah -->
                    <!-- <div class="team-card grid grid-cols-3 scale-in">
                        <div>
                            <Image src={Richmond} alt="Richmond Wristberg" />
                        </div>
                        <div class="col-span-2 pl-8">
                            <h2 class="name">Richmond Duah</h2>
                            <h3>Claims Officer</h3>
                            <div class="line"></div>
                            <ul class="team-list">
                                <li class="team-item">
                                    <a href="https://www.linkedin.com/in/richmondduah/" class="team-link" target="_blank">
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                </li> -->
                                <!-- <li class="team-item">
                                    <a href="https://www.instagram.com/rich.mondduah/" class="team-link" target="_blank">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="team-item">
                                    <a href="https://www.facebook.com/profile.php?id=61556096754520" class="team-link" target="_blank">
                                        <i class="fa-brands fa-facebook"></i>
                                    </a>
                                </li> -->
                            <!-- </ul>
                        </div>
                    </div> -->
                    <!-- Sedi elizerbeth -->
                    <!-- <div class="team-card grid grid-cols-3 scale-in">
                        <div>
                            <Image src={Sedi} alt="Sedi Wristberg" />
                        </div>
                        <div class="col-span-2 pl-8">
                            <h2 class="name">Elizabeth Sedinam</h2>
                            <h3 class="title">Business Development Officer</h3>
                            <div class="line"></div>
                            <ul class="team-list">
                                <li class="team-item">
                                    <a href="https://www.linkedin.com/in/elizabeth-sedinam-49a2a6146/" class="team-link" target="_blank">
                                        <i class="fa-brands fa-linkedin"></i>
                                    </a>
                                </li> -->
                                <!-- <li class="team-item">
                                    <a href="https://www.instagram.com/aj_sedinam/" class="team-link" target="_blank">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="team-item">
                                    <a href="https://www.facebook.com/elizabeth.sedinam" class="team-link" target="_blank">
                                        <i class="fa-brands fa-facebook"></i>
                                    </a>
                                </li> -->
                            <!-- </ul>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
        <!-- End of section-team -->
</MainLayout>







<style lang="scss">




// ============================= Section Team ============================
.section-team {

.team-card {
    padding: 2rem 1rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    border-radius: 1rem;
    text-align: left;
    transition: .4s;
    border: 2px solid transparent;

    &:hover {
        transform: translateY(-4px);
        border: 2px solid var(--clr-blue-light);
    }

    h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: .3rem;
    }
    h3 {
        color: var(--clr-blue-light);
    }


    .line {
        height: 1px;
        background-color: var(--clr-blue-light);
        width: 5rem;
        border-radius: 2px;
        margin: 2rem 0;
    }
}

.team-list {
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;

    .team-item {
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
    .team-link {
        display: flex;
        width: 3rem;
        height: 3rem;
        border: 2px solid var(--clr-gray-light);
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        transition: .3s;
        overflow: hidden;

        &:hover {
            color: var(--clr-white);
        }

        &:hover::after {
            transform: scale(1);
            transform-origin: center;
            opacity: 1;
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: var(--clr-gray-dark);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transform: scale(0);
            transform-origin: center;
            transition: .3s ease-in-out;
            opacity: 0;
        }
    }
}
}
// End of section team
</style>